input {
  display: block;
  margin-bottom: 10px;
}
input,
textarea {
  padding: 10px;
  border: 2px solid #00b;
}
div {
  background-color: blueviolet;
  width: 200px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: aliceblue;
}
